<!doctype html>
<html>
  <head>
  </head>
  <body>
  <form id="login">
	<input name="user"></input>
	<input name="pass"></input>
	<input type="submit" id="loginBtn"></input>
  </form>
  <div id="messageList"></div>
  <input type="button" id="refreshMsgs" value="обновить сообщения"></input>
  <div id="userList"></div>
  <input type="button" id="refreshUsers" value="обновить список пользователей"></input>
  <form id="post">
	<input name="message"></input>
	<input type="submit" id="postBtn"></input>
  </form>
  <script src="jquery-3.3.1.js"></script>
  <script src="code.js"></script>

  </body>
</html>
